<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">
<head>
    <meta charset="UTF-8">
    <title>Order</title>
</head>
<body>
<section layout:fragment="content">
    <div class="card text-white bg-primary mb-3 mx-auto" style="max-width: 55rem; margin-top: 6rem;">
        <div class="card-header">
            <h2>Your Order</h2>
        </div>
        <div class="card-body">
            <div class="container">
                <h2>Total payment: €<span th:utext="${total}"></span></h2>
                <form th:action="@{/homepage/order}" method="POST" th:object="${userOrder}">
                    <input type="hidden" name="total" th:value="${total}"/>
                    <div class="alert alert-danger" id="error-alert-order" role="alert" th:if="${errorMessage}">
                        Not enough stock!
                        <script>
                            $("#error-alert-order").fadeTo(2000, 500).slideUp(500, function(){
                                $("#error-alert-order").slideUp(500);
                            });
                        </script>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="payment_method">Select Payment Method: </label>
                        <select class="form-control" id="payment_method" name="payment_method">
                            <option value="default">Select a payment method</option>
                            <option value="Visa">Visa</option>
                            <option value="Mastercard">Mastercard</option>
                        </select>
                        <br/>
                        <p>Visa must be 16 digits</p>
                        <p>Mastercard must be 15 digits</p>
                    </div>
                    <div class="alert alert-success" id="visa-success" role="alert" th:if="${visaSuccess}">
                        Visa payment received. Order successful!
                        <script>
                            $("#visa-success").fadeTo(2000, 500).slideUp(500, function(){
                                $("#visa-success").slideUp(500);
                            });
                        </script>
                    </div>
                    <div class="alert alert-danger" id="visa-error" role="alert" th:if="${visaError}">
                        Visa payment failed!
                        <script>
                            $("#visa-error").fadeTo(2000, 500).slideUp(500, function(){
                                $("#visa-error").slideUp(500);
                            });
                        </script>
                    </div>
                    <div class="alert alert-success" id="mastercard-success" role="alert" th:if="${mastercardSuccess}">
                        Mastercard payment received. Order successful!
                        <script>
                            $("#mastercard-success").fadeTo(2000, 500).slideUp(500, function(){
                                $("#mastercard-success").slideUp(500);
                            });
                        </script>
                    </div>
                    <div class="alert alert-danger" id="mastercard-error" role="alert" th:if="${mastercardError}">
                        Mastercard payment failed!
                        <script>
                            $("#mastercard-error").fadeTo(2000, 500).slideUp(500, function(){
                                $("#mastercard-error").slideUp(500);
                            });
                        </script>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="name">Card Name: </label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Cardholder name" required autofocus />
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="cardNumber">Card Number: </label>
                        <input type="text" class="form-control" id="cardNumber" name="cardNumber" placeholder="Card number" required autofocus />
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="expires">Expiry Date: </label>
                        <input type="date" class="form-control" id="expires" name="expires" placeholder="Expiry date" required autofocus />
                    </div>
                    <button type="submit" class="btn btn-lg btn-secondary btn-block">Pay Now</button>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>