<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">
<head>
    <meta charset="UTF-8">
    <title>View Items</title>
</head>
<body>
<section layout:fragment="content">
    <form action="/homepage/viewitems" class="form-inline">
        <div class="form-group mb-2">
            <input type="text" class="form-control" name="itemName" placeholder="Search Items" />
            <input type="submit" value="Search"  class="btn btn-secondary"/>
        </div>
    </form>
    <div class="alert alert-success" id="alert-item-added-success" role="alert" th:if="${successMessage}">
        Item added to cart!
        <script>
            $("#alert-item-added-success").fadeTo(5000, 500).slideUp(500, function(){
                $("#alert-item-added-success").slideUp(500);
            });
        </script>
    </div>
    <div class="alert alert-success" id="alert-item-deleted" role="alert" th:if="${deleteMessage}">
        Item successfully deleted!
        <script>
            $("#alert-item-deleted").fadeTo(5000, 500).slideUp(500, function(){
                $("#alert-item-deleted").slideUp(500);
            });
        </script>
    </div>
    <div style="width: 100%; overflow: hidden; margin-top: 5rem;  padding-right: 10%; padding-left: 10%;">
        <div class="card text-white bg-primary mb-3 mx-auto " style="width: 800px; float: left;">
            <div class="card-header"><h2>All Items</h2></div>
            <div class="card card-body">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Manufacturer</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th>Stock</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item:${items}">
                        <td th:text="${item.itemName}"></td>
                        <td th:text="${item.manufacturer}"></td>
                        <td th:text="${item.category}"></td>
                        <td th:text="${item.price}"></td>
                        <div th:if="${item.stock} &lt; 1">
                            <td><span class="badge badge-danger">Out of Stock   </span></td>
                            <td sec:authorize="hasAuthority('ADMIN')"><a  th:href="@{/homepage/updatestock/{id}(id=${item.id})}"class="btn btn-secondary" >Update Stock </a></td>
                        </div>
                        <div th:if="${item.stock} &gt; 0">
                            <td th:text="${item.stock}"></td>
                            <td sec:authorize="hasAuthority('ADMIN')"><a  th:href="@{/homepage/updatestock/{id}(id=${item.id})}"class="btn btn-secondary" >Update Stock </a></td>
                            <td sec:authorize="hasAuthority('CUSTOMER')"><a  th:href="@{/homepage/addtocart/{id}(id=${item.id})}"class="btn btn-secondary" >Add to Cart </a></td>
                        </div>
                        <form th:action="@{/homepage/deleteitem/{id}(id=${item.id})}" method="POST" th:object="${item}">
                            <input type="hidden" name="_method" value="DELETE"/>
                            <td sec:authorize="hasAuthority('ADMIN')"><button type="submit" class="btn btn-secondary">Delete Item </button></td>
                        </form>
                        <td sec:authorize="hasAuthority('CUSTOMER')"><a  th:href="@{/homepage/itempage/{id}(id=${item.id})}"class="btn btn-secondary" >View Item </a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
</body>
</html>