<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">

<link href="https://www.jqueryscript.net/css/jquerysctipttop.css"
      rel="stylesheet" type="text/css">
<link rel="stylesheet"
      href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet"
      href="https://netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href="https://www.jqueryscript.net/demo/jQuery-Plugin-For-Sortable-Bootstrap-Tables-Bootstrap-Sortable/Contents/bootstrap-sortable.css"
        rel="stylesheet" type="text/css">
<head>
    <meta charset="UTF-8">
    <title>View Items</title>
</head>
<body>
<section layout:fragment="content">
    <form action="/homepage/viewitems" class="form-inline">
        <div class="form-group mb-2">
            <input type="text" class="form-control" name="itemName" placeholder="Search Items" />
            <input type="submit" value="Search"  class="btn btn-secondary"/>
        </div>
    </form>
    <div class="alert alert-success" id="alert-item-added-success" role="alert" th:if="${successMessage}">
        Item added to cart!
        <script>
            $("#alert-item-added-success").fadeTo(5000, 500).slideUp(500, function(){
                $("#alert-item-added-success").slideUp(500);
            });
        </script>
    </div>
    <div class="alert alert-success" id="alert-item-deleted" role="alert" th:if="${deleteMessage}">
        Item successfully deleted!
        <script>
            $("#alert-item-deleted").fadeTo(5000, 500).slideUp(500, function(){
                $("#alert-item-deleted").slideUp(500);
            });
        </script>
    </div>
    <div style="width: 100%; overflow: hidden; margin-top: 5rem;  padding-right: 10%; padding-left: 10%;">
        <div class="card text-white bg-primary mb-3 mx-auto " style="width: 1000px; float: left;">
            <div class="card-header"><h2>All Items</h2></div>
            <div class="card card-body">
                <table class="table table-hover sortable" >
                    <thead>
                    <tr>
                        <th>Name <i class="fas fa-sort"></i></th>
                        <th>Manufacturer <i class="fas fa-sort"></i></th>
                        <th>Category <i class="fas fa-sort"></i></th>
                        <th>Price €<i class="fas fa-sort"></i></th>
                        <th>Stock <i class="fas fa-sort"></i></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item:${items}">
                        <td th:text="${item.itemName}"></td>
                        <td th:text="${item.manufacturer}"></td>
                        <td th:text="${item.category}"></td>
                        <td th:text="${item.price}"></td>
                        <div th:if="${item.stock} &lt; 1">
                            <td><span class="badge badge-danger">Out of Stock   </span></td>
                            <td sec:authorize="hasAuthority('ADMIN')"><a  th:href="@{/homepage/updatestock/{id}(id=${item.id})}"class="btn btn-secondary" >Update Stock </a></td>
                        </div>
                        <div th:if="${item.stock} &gt; 0">
                            <td th:text="${item.stock}"></td>
                            <td sec:authorize="hasAuthority('ADMIN')"><a  th:href="@{/homepage/updatestock/{id}(id=${item.id})}"class="btn btn-secondary" >Update Stock </a></td>
                            <td sec:authorize="hasAuthority('CUSTOMER')"><a  th:href="@{/homepage/addtocart/{id}(id=${item.id})}"class="btn btn-secondary" >Add to Cart </a></td>
                        </div>
                        <form th:action="@{/homepage/deleteitem/{id}(id=${item.id})}" method="POST" th:object="${item}">
                            <input type="hidden" name="_method" value="DELETE"/>
                            <td sec:authorize="hasAuthority('ADMIN')"><button type="submit" class="btn btn-secondary">Delete Item </button></td>
                        </form>
                        <td sec:authorize="hasAuthority('CUSTOMER')"><a  th:href="@{/homepage/itempage/{id}(id=${item.id})}"class="btn btn-secondary" >View Item </a></td>
                    </tr>
                    </tbody>
                </table>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
                <script src="https://www.jqueryscript.net/demo/jQuery-Plugin-For-Sortable-Bootstrap-Tables-Bootstrap-Sortable/Scripts/bootstrap-sortable.js"></script>
            </div>
        </div>
    </div>
</section>
</body>
</html>